body {
    font-family: 'Krub', sans-serif;
    margin: 0;
    padding: 0;
    }

ol, ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

.menu {
    background-color: yellow;;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

.menu li {
    display: inline;
    padding-left: 80px;
}

.menu img {
    width: 60px;
    margin-left: 5px;
}

a:hover {
    color: beige;
    font-weight: bold;
}

.estilo-imagem {
    border: solid 2px black;
    border-radius: 10px;
}

.banner > h1 {
    font-family: 'K2D', sans-serif;
    font-size: 50px;
    text-align: center;
}

.banner > p {
    text-align: center;
}

.banner {
    margin-top: -18px;
    padding-top: 185px;
    padding-bottom: 185px;
    background: url(../images/background.jpg);
    background-repeat: no-repeat;   
    background-size: cover;
}

footer {
    background-color: yellow;
}

#receita-bolovo {
    margin-top: 10px;
    margin-left: 10px;
}

.container {
    display: flex;
    align-items: center; 
    flex-direction: row-reverse;
    flex-wrap: row wrap;
}

.container > div > img {
    width: 700px;
    margin-right: 10px;
}

.sobre-bolovos {
    display: flex;
}

.container-flex {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.container-flex > img {
    width: 600px;
}

.lista-footer {
    padding: 50px;
    display: flex;
    justify-content: space-around;
}

/* first-child pega o primeiro elemento. 
   nth-child(x) o x pega a posição de tal elemento.
   last-child pega o ultimo elemento. */

.lista-footer > .info > ol > li:first-child {
    font-weight: bold;
    margin-bottom: 5px;
}

.lista-footer > .links > ol > li:first-child {
    font-weight: bold;
    margin-bottom: 5px;
}

.lista-footer > .redes > ol > li:first-child { 
    font-weight: bold;
    margin-bottom: 5px;
}

.menu > ul > li:last-child {
    font-weight: bold;
}